@import url(https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap);
* {
  box-sizing: border-box;
}
body {
  background: #1c8ef9;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Bruno Ace SC", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Bruno Ace SC", cursive;
}
p {
  color: white;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  height: 650px;
  margin: auto;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-radius: 6px;
  transition: all 0.3s;
  background: rgb(0, 0, 0, 0.65);
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  background-color: #343434;
  color: white;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  padding-top: 22px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

table,
th,
td {
  border: 1px solid black;
}

.auth-wrapper {
  background-image: url("components/images/pozadina.png");
  background-size: cover;
}

.signUptext {
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: start;
}

.mb-3 {
  padding-bottom: 12px;
}

.form-control {
  height: 50px;
}

input.form-control {
  background: #343434;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: inherit;
  color: white;
}
.button-prim {
  background-color: red;
  border-color: red;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: red;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.signup {
  width: 100%;
  margin-top: 13px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.help {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.p-text {
  color: #999;
  text-decoration: unset;
}
